@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Orbitron&family=Poppins:wght@200&display=swap");
#csOne {
  width: 100%;
  height: 500px;
  background-image: url(../img/space13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative; }
  #csOne h1 {
    font: bold 40px/1 "Lato";
    color: #fff;
    letter-spacing: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #csOne h1::first-letter {
      color: dodgerblue; }
  #csOne h2 {
    font: bold 25px/1 "Lato";
    color: #fff;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#csTwo {
  text-align: center;
  padding: 100px 0 100px 0;
  border-bottom: 1px solid #999; }
  #csTwo .csIcon {
    display: flex;
    justify-content: center; }
    #csTwo .csIcon .csTwoIcon {
      width: 80px;
      float: left;
      margin: 0 50px 0 50px;
      cursor: pointer; }
      #csTwo .csIcon .csTwoIcon:hover i, #csTwo .csIcon .csTwoIcon:hover p {
        color: dodgerblue;
        transition: 0.2s; }
      #csTwo .csIcon .csTwoIcon:first-child i {
        transform: translateX(8px); }
      #csTwo .csIcon .csTwoIcon i {
        font-size: 40px;
        color: #333;
        margin-bottom: 20px;
        transition: 0.2s; }
      #csTwo .csIcon .csTwoIcon p {
        font: bold 20px/1 "Lato";
        color: #333;
        transition: 0.2s; }

#csThree {
  text-align: center;
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #999; }
  #csThree .csIcon {
    display: flex;
    justify-content: center; }
    #csThree .csIcon .csThreeIcon {
      float: left;
      width: 300px;
      cursor: pointer; }
      #csThree .csIcon .csThreeIcon:nth-of-type(2) {
        border-left: 1px solid #999;
        border-right: 1px solid #999; }
      #csThree .csIcon .csThreeIcon:hover p {
        box-shadow: 0 -1px 0 0 dodgerblue inset;
        transition: 0.2s; }
      #csThree .csIcon .csThreeIcon i {
        font-size: 40px;
        color: #333;
        margin-bottom: 20px;
        transition: 0.2s; }
      #csThree .csIcon .csThreeIcon p {
        display: inline-block;
        font: bold 15px/1 "Lato";
        color: dodgerblue;
        transition: 0.2s; }

#csFour {
  text-align: center;
  padding: 50px 0px 50px 0px; }
  #csFour h1 {
    font: bold 40px/1 "Lato";
    letter-spacing: 3px;
    margin-bottom: 20px; }
  #csFour input[type=text] {
    width: 40%;
    height: 50px;
    border: 1px solid #999;
    border-radius: 5px; }
  #csFour input::placeholder {
    text-align: center;
    font: bold 20px/50px "Lato"; }

#csFive {
  margin-bottom: 100px;
  width: 100%;
  height: 400px;
  background: url(../img/space12.png) no-repeat center/cover fixed;
  text-align: center;
  position: relative;
  padding: 150px 400px 0px 400px;
  text-align: left;
  color: #fff;
  letter-spacing: 2px; }
  #csFive h1 {
    font: bold 40px/1 "Lato";
    margin-bottom: 20px; }
  #csFive h2 {
    font: bold 15px/1 "Lato";
    background-color: #000;
    padding: 5px 0px 5px 0px;
    display: inline-block;
    margin-bottom: 20px; }
  #csFive h3 {
    margin-bottom: 20px; }
  #csFive h3, #csFive h4 {
    cursor: pointer;
    font: bold 15px/1 "Lato";
    color: dodgerblue;
    transition: 0.2s;
    background-color: #000;
    padding: 5px 0px 5px 0px;
    display: inline-block; }

#csSix {
  width: 1200px;
  padding: 50px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: #fff;
  letter-spacing: 2px; }
  #csSix h1 {
    font: bold 40px/1 "Lato";
    margin-bottom: 15px; }
  #csSix h2 {
    font: bold 20px/1 "Lato";
    margin-bottom: 30px; }
  #csSix #contact-form ul li input[type=text] {
    border: none;
    border-bottom: 2.5px solid #999;
    width: 100%;
    height: 50px;
    padding-left: 5px; }
  #csSix #contact-form ul li input::placeholder {
    font: bold 25px/1 "Lato";
    transform: translateY(5px); }
  #csSix #contact-form ul li textarea {
    resize: none;
    width: 100%;
    height: 250px;
    padding: 5px;
    padding-top: 20px;
    border: none;
    border-bottom: 2.5px solid #999; }
  #csSix #contact-form ul li textarea::placeholder {
    font: bold 25px/1 "Lato"; }
  #csSix #contact-form ul li:last-child {
    margin-top: 20px;
    text-align: center; }
    #csSix #contact-form ul li:last-child input[type=checkbox] {
      cursor: pointer; }
    #csSix #contact-form ul li:last-child label {
      cursor: pointer;
      display: inline-block;
      font: bold 15px/1 "Lato";
      margin-bottom: 20px; }
    #csSix #contact-form ul li:last-child input[type=submit] {
      cursor: pointer;
      background-color: dodgerblue;
      border: none;
      font: bold 25px/1 "Lato";
      letter-spacing: 1px;
      color: #fff;
      width: 150px;
      height: 40px;
      border-radius: 5px;
      transition: 0.25s; }
      #csSix #contact-form ul li:last-child input[type=submit]:hover {
        background-color: crimson;
        transition: 0.25s; }

#csSeven {
  border-top: 1px solid #999;
  width: 100%;
  padding: 50px 0px 50px 0px;
  text-align: center; }
  #csSeven .csSevenInner {
    display: inline-block;
    width: 900px;
    text-align: left; }
    #csSeven .csSevenInner h1 {
      margin-bottom: 20px;
      font: bold 30px/1 "Lato";
      color: #333; }
      #csSeven .csSevenInner h1 a > p {
        margin-right: 5px;
        background: #000;
        padding: 3px 5px 5px 5px;
        border-radius: 5px;
        display: inline-block;
        font: bold 30px/1 "Lato";
        color: #fff;
        letter-spacing: 5px; }
        #csSeven .csSevenInner h1 a > p::first-letter {
          color: dodgerblue; }
    #csSeven .csSevenInner ul li {
      display: inline-block;
      cursor: pointer;
      font: bold 20px/1 "Lato";
      color: dodgerblue;
      transition: 0.2s;
      margin-bottom: 20px; }
      #csSeven .csSevenInner ul li:hover {
        box-shadow: 0 -1px 0 0 dodgerblue inset;
        transition: 0.2s; }
      #csSeven .csSevenInner ul li:last-child {
        margin-bottom: 0px; }

fieldset {
  border: none; }

table {
  border-collapse: collapse; }

.h {
  position: absolute;
  top: -9999px;
  opacity: 0; }

input, label {
  vertical-align: middle; }

.memberHeaderBot {
  padding: 0px 50px 0px 50px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 2px solid dodgerblue; }
  .memberHeaderBot::after {
    display: block;
    content: "";
    clear: both; }
  .memberHeaderBot h1 {
    display: inline-block;
    font: bold 20px/50px "Lato";
    color: #555; }
    .memberHeaderBot h1 p {
      display: inline-block;
      font: bold 25px/1 "Lato";
      letter-spacing: 3px;
      color: #555;
      margin-right: 5px; }
      .memberHeaderBot h1 p::first-letter {
        color: dodgerblue; }
  .memberHeaderBot h2 {
    cursor: pointer;
    float: right;
    color: #555;
    font: bold 15px/50px "Lato";
    letter-spacing: 1px;
    margin-left: 20px;
    transition: 0.2s; }
    .memberHeaderBot h2:hover {
      color: dodgerblue;
      transition: 0.2s; }

#memberOne {
  padding: 100px 0px 100px 0px;
  text-align: center; }
  #memberOne .memberOnePic {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url(../img/manaflow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px; }
  #memberOne h1 {
    font: bold 40px/1 "Lato";
    color: #000;
    margin-bottom: 30px; }
    #memberOne h1 p {
      display: inline-block;
      font: bold 40px/1 "Lato";
      letter-spacing: 5px;
      color: #555; }
      #memberOne h1 p::first-letter {
        color: dodgerblue; }
  #memberOne h2 {
    font: bold 30px/1 "Lato";
    color: #555; }

#memberTwo {
  display: flex;
  justify-content: center;
  margin-bottom: 100px; }
  #memberTwo .memberTwoLeft, #memberTwo .memberTwoRight {
    float: left;
    width: 460px;
    height: 400px;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 40px; }
    #memberTwo .memberTwoLeft h3, #memberTwo .memberTwoRight h3 {
      font: bold 30px/1 "Lato";
      color: #000;
      margin-bottom: 25px;
      letter-spacing: 1px; }
    #memberTwo .memberTwoLeft h4, #memberTwo .memberTwoRight h4 {
      font: bold 20px/1.5 "Lato";
      color: #555;
      letter-spacing: 1px; }
  #memberTwo .memberTwoLeftPic {
    width: 50px;
    height: 50px;
    background-image: url(../img/membership1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px; }
  #memberTwo .memberTwoRightPic {
    width: 50px;
    height: 50px;
    background-image: url(../img/membership2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px; }

#memberBanner {
  width: 100%;
  height: 400px;
  background: url(../img/space14.png) no-repeat center/cover fixed;
  text-align: center; }
  #memberBanner h1 {
    font: bold 40px/1 "Lato";
    letter-spacing: 1px;
    line-height: 300px;
    color: #fff; }
  #memberBanner p {
    font: bold 35px/1 "Lato";
    letter-spacing: 5px;
    color: #fff;
    transform: translateY(-100px); }
    #memberBanner p::first-letter {
      color: dodgerblue; }

.join {
  width: 100%;
  padding: 100px 0; }
  .join .inner {
    width: 500px;
    margin: 0 auto; }
    .join .inner h1 {
      text-align: center;
      font: bold 40px/1 "Lato";
      letter-spacing: 2px;
      color: #333;
      margin-bottom: 50px; }
    .join .inner table {
      width: 100%; }
      .join .inner table th, .join .inner table td {
        padding: 15px 25px; }
      .join .inner table th {
        width: 20%; }
        .join .inner table th input[type=reset], .join .inner table th input[type=submit] {
          width: 30%;
          height: 40px;
          border: none;
          border-radius: 5px;
          background-color: dodgerblue;
          margin: 10px;
          font: bold 14px/40px "Lato";
          letter-spacing: 1px;
          color: #fff;
          cursor: pointer;
          transition: 0.2s; }
          .join .inner table th input[type=reset]:hover, .join .inner table th input[type=submit]:hover {
            background: crimson;
            transition: 0.2s; }
      .join .inner table td input[type=text], .join .inner table td input[type=password], .join .inner table td select {
        width: 100%;
        height: 60px;
        padding-left: 20px;
        background: #fff;
        border: none;
        border-radius: 5px;
        font: bold 20px/60px "Lato";
        color: #555; }
      .join .inner table td select {
        cursor: pointer; }
        .join .inner table td select option {
          background-color: #333;
          color: #fff; }
        .join .inner table td select option[disabled] {
          display: none; }
      .join .inner table td input[type=radio] {
        cursor: pointer;
        margin-right: 15px;
        transform: translateY(5px); }
      .join .inner table td label {
        cursor: pointer;
        font: bold 20px/1 "Lato";
        color: #555;
        margin-right: 30px; }
      .join .inner table td textarea {
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 150px;
        background: #fff;
        padding: 20px;
        resize: none;
        font: bold 20px/1 "Lato";
        color: #555; }
      .join .inner table td p {
        font: bold 12px/1 "Lato";
        color: crimson;
        margin-top: 5px; }
      .join .inner table .gender {
        display: flex;
        justify-content: center; }

#resultPage {
  position: relative;
  width: 100%;
  height: 100%; }
  #resultPage .resultPageImage {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/space15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: brightness 2s linear alternate infinite; }
  #resultPage .resultPageText {
    text-align: center;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%); }
    #resultPage .resultPageText h1 {
      font: bold 60px/1 "Lato";
      color: #fff;
      letter-spacing: 2px;
      margin-bottom: 20px; }
    #resultPage .resultPageText h2 {
      font: bold 20px/1 "Lato";
      color: #fff;
      letter-spacing: 1.5px;
      margin-bottom: 50px; }
    #resultPage .resultPageText p {
      font: bold 40px/1 "Lato";
      color: #fff;
      letter-spacing: 4px;
      margin-bottom: 300px; }
      #resultPage .resultPageText p::first-letter {
        color: dodgerblue; }
    #resultPage .resultPageText a {
      font: bold 20px/1 "Lato";
      letter-spacing: 2px;
      color: crimson;
      border-bottom: 2px solid crimson; }

@keyframes brightness {
  0% {
    filter: brightness(50%); }
  100% {
    filter: brightness(100%); } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #e9e9e9; }

#header {
  position: relative;
  z-index: 99; }
  #header .headerTop {
    padding: 0 50px 0 50px;
    width: 100%;
    height: 50px;
    background-color: #000; }
    #header .headerTop::after {
      content: "";
      display: block;
      clear: both; }
    #header .headerTop .left {
      float: left;
      cursor: pointer;
      width: 40px;
      height: 40px;
      background-image: url(../img/portal.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateY(5px);
      filter: grayscale(0.5);
      transition: 0.2s; }
      #header .headerTop .left:hover {
        filter: grayscale(0);
        transition: 0.2s; }
    #header .headerTop .right {
      float: right; }
      #header .headerTop .right a {
        color: #fff;
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1.5px solid #fff;
        font: bold 15px/1 "Lato";
        letter-spacing: 1px;
        line-height: 50px; }
        #header .headerTop .right a:last-child {
          padding-right: 0px;
          margin-right: 0px;
          border-right: none; }
  #header .headerBot {
    width: 100%;
    height: 100px;
    background-color: #fff;
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: space-between; }
    #header .headerBot .botLeft {
      cursor: pointer; }
      #header .headerBot .botLeft h1 {
        font: bold 35px/1 "Lato";
        letter-spacing: 5px;
        color: #555;
        line-height: 100px; }
        #header .headerBot .botLeft h1::first-letter {
          color: dodgerblue; }
    #header .headerBot .botCenter, #header .headerBot .menu {
      transform: translateX(61px);
      margin: 0 auto;
      text-align: center; }
      #header .headerBot .botCenter ul li, #header .headerBot .menu ul li {
        cursor: pointer;
        float: left;
        width: 150px;
        position: relative;
        transition: 0.2s; }
        #header .headerBot .botCenter ul li a, #header .headerBot .menu ul li a {
          font: bold 20px/100px "Lato";
          color: #555;
          transition: 0.2s; }
        #header .headerBot .botCenter ul li:hover, #header .headerBot .menu ul li:hover {
          color: dodgerblue;
          transition: 0.2s;
          box-shadow: 0 -4px 0 0 dodgerblue inset; }
          #header .headerBot .botCenter ul li:hover a, #header .headerBot .menu ul li:hover a {
            color: dodgerblue;
            transition: 0.2s; }
          #header .headerBot .botCenter ul li:hover ul, #header .headerBot .menu ul li:hover ul {
            display: block; }
        #header .headerBot .botCenter ul li > ul, #header .headerBot .menu ul li > ul {
          z-index: 5;
          display: none;
          overflow: hidden;
          height: 300px;
          position: absolute;
          font-size: 10px;
          background-color: #fff; }
          #header .headerBot .botCenter ul li > ul > li, #header .headerBot .menu ul li > ul > li {
            float: none; }
    #header .headerBot .botRight {
      line-height: 100px; }
      #header .headerBot .botRight input[type=text] {
        border: none;
        width: 250px;
        height: 50px;
        border-radius: 50px;
        background-color: #e9e9e9; }
      #header .headerBot .botRight input::placeholder {
        text-align: center;
        font: bold 15px/1 "Lato";
        color: #555;
        line-height: 50px; }
      #header .headerBot .botRight i {
        cursor: pointer;
        font-size: 30px;
        color: #555;
        transform: translateY(7px);
        transition: 0.2s; }
        #header .headerBot .botRight i:hover {
          color: dodgerblue;
          transition: 0.2s; }

#mainOne {
  z-index: 1;
  width: 100%;
  height: calc(100vh - 150px);
  background-color: #000;
  position: relative; }
  #mainOne video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; }
  #mainOne .oneInner {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #mainOne .oneInner h1 {
      font: bold 40px/1 "Lato";
      color: #fff;
      letter-spacing: 3px;
      margin-bottom: 30px; }
    #mainOne .oneInner p {
      display: inline-block;
      font: bold 20px/1 "Lato";
      color: #fff;
      letter-spacing: 2px; }
    #mainOne .oneInner .mainOnePortal {
      display: inline-block;
      font: bold 20px/1 "Lato";
      color: #fff;
      letter-spacing: 4px; }
      #mainOne .oneInner .mainOnePortal::first-letter {
        color: dodgerblue; }
    #mainOne .oneInner h2 {
      margin-top: 30px;
      font: bold 40px/1 "Orbitron";
      color: #fff;
      letter-spacing: 8px; }
    #mainOne .oneInner .time {
      display: inline-block;
      font: bold 13px/2 "Orbitron";
      color: #fff;
      border-bottom: 3px solid crimson; }
    #mainOne .oneInner .booking {
      width: 100%;
      height: 150px;
      background-color: #fff;
      position: absolute;
      top: 300px;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 20px; }
      #mainOne .oneInner .booking ul li {
        transform: translateX(25px);
        float: left;
        width: calc(100% / 6);
        height: 150px;
        line-height: 150px; }
        #mainOne .oneInner .booking ul li select, #mainOne .oneInner .booking ul li input[type=date] {
          cursor: pointer;
          font: bold 15px/1 "Lato";
          border: none;
          height: 40px;
          width: 150px;
          border-bottom: 2px solid #555;
          transition: 0.2s; }
          #mainOne .oneInner .booking ul li select:hover, #mainOne .oneInner .booking ul li input[type=date]:hover {
            border-bottom: 2px solid crimson;
            transition: 0.2s; }
        #mainOne .oneInner .booking ul li option {
          border: none;
          background-color: #333;
          font: normal 15px/1 "Lato";
          color: #fff;
          padding-left: 10px;
          line-height: 40px;
          letter-spacing: 1px; }
        #mainOne .oneInner .booking ul li option:invalid {
          color: #000; }
        #mainOne .oneInner .booking ul li option[disabled] {
          display: none; }
        #mainOne .oneInner .booking ul li i {
          font-size: 15px;
          color: #555;
          transform: translateX(-25px);
          transition: 0.2s; }
        #mainOne .oneInner .booking ul li button {
          cursor: pointer;
          border: none;
          width: 100px;
          height: 60px;
          border-radius: 5px;
          background-color: #555;
          font: bold 15px/1 "Lato";
          letter-spacing: 2px;
          color: #fff;
          transition: 0.2s; }
          #mainOne .oneInner .booking ul li button:hover {
            background-color: dodgerblue;
            transition: 0.2s; }

#mainTwo {
  padding: 100px 50px 100px 50px;
  height: 100vh; }
  #mainTwo .mainTwoInner {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 80px; }
    #mainTwo .mainTwoInner h2 {
      font: bold 30px/1 "Lato";
      margin-bottom: 20px; }
    #mainTwo .mainTwoInner h3 {
      font: bold 20px/1 "Lato";
      color: #333;
      margin-bottom: 25px; }
    #mainTwo .mainTwoInner p {
      cursor: pointer;
      font: bold 20px/1 "Lato";
      color: dodgerblue;
      transition: 0.2s; }
      #mainTwo .mainTwoInner p:hover {
        color: deepskyblue;
        transition: 0.2s; }
  #mainTwo .spaceSector {
    width: 100%; }
    #mainTwo .spaceSector .swiper-slide {
      padding: 15px 15px 15px 15px;
      background-color: aquamarine;
      width: 600px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      #mainTwo .spaceSector .swiper-slide p {
        cursor: pointer;
        font: bold 15px/1 "Lato";
        color: #fff; }
      #mainTwo .spaceSector .swiper-slide:nth-of-type(1) {
        background-image: url(../img/space1.jpg); }
      #mainTwo .spaceSector .swiper-slide:nth-of-type(2) {
        background-image: url(../img/space2.jpg); }
      #mainTwo .spaceSector .swiper-slide:nth-of-type(3) {
        background-image: url(../img/space3.jpg); }
      #mainTwo .spaceSector .swiper-slide:nth-of-type(4) {
        background-image: url(../img/space4.jpg); }
      #mainTwo .spaceSector .swiper-slide:nth-of-type(5) {
        background-image: url(../img/space5.jpg); }

#banner {
  width: 100%;
  height: 400px;
  background: url(../img/space8.jpg) no-repeat center/cover fixed;
  filter: opacity(0.8);
  text-align: center;
  padding: 120px 0px 120px 0px; }
  #banner h1 {
    font: bold 50px/1 "Lato";
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px; }
  #banner h2 {
    font: bold 20px/1 "Lato";
    letter-spacing: 2px;
    color: #fff; }
  #banner p {
    font: bold 35px/1 "Lato";
    letter-spacing: 5px;
    color: #fff;
    line-height: 100px; }
    #banner p::first-letter {
      color: dodgerblue; }

#mainThree {
  background-color: #fff;
  padding: 200px 50px 100px 50px;
  display: flex;
  justify-content: center; }
  #mainThree .mainthreeInner {
    padding: 0px 60px 0px 60px;
    text-align: center;
    width: 400px; }
    #mainThree .mainthreeInner i {
      font-size: 40px;
      color: #555;
      margin-bottom: 20px; }
    #mainThree .mainthreeInner h3 {
      font: bold 20px/1 "Lato";
      color: #000;
      margin-bottom: 20px; }
    #mainThree .mainthreeInner h4 {
      font: bold 20px/1.5 "Lato";
      color: #555;
      letter-spacing: 1px;
      margin-bottom: 20px; }
    #mainThree .mainthreeInner p {
      display: inline-block;
      cursor: pointer;
      font: bold 20px/1 "Lato";
      color: dodgerblue;
      transition: 0.2s; }
      #mainThree .mainthreeInner p:hover {
        color: deepskyblue;
        transition: 0.2s; }

#mainFour {
  background-color: #fff;
  padding: 100px 50px 100px 50px; }
  #mainFour .mainfourInner {
    padding-top: 150px;
    width: 100%;
    height: 1000px;
    background-image: url(../img/spaceship_horizon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1.05);
    text-align: center; }
    #mainFour .mainfourInner .mainFourText {
      letter-spacing: 1px;
      margin-bottom: 30px; }
      #mainFour .mainfourInner .mainFourText > h1 {
        display: inline-block;
        font: bold 30px/1 "Lato"; }
      #mainFour .mainfourInner .mainFourText .caseFour {
        letter-spacing: 3px;
        font: bold 30px/1 "Lato";
        color: #fff; }
        #mainFour .mainfourInner .mainFourText .caseFour::first-letter {
          color: dodgerblue; }
    #mainFour .mainfourInner h2 {
      letter-spacing: 1px;
      font: bold 50px/1 "Lato";
      margin-bottom: 20px; }
    #mainFour .mainfourInner p {
      margin-top: 30px;
      display: inline-block;
      cursor: pointer;
      font: bold 20px/1 "Lato";
      color: dodgerblue;
      transition: 0.2s; }
      #mainFour .mainfourInner p:hover {
        color: deepskyblue;
        transition: 0.2s; }

#mainFiveVideo {
  padding-top: 100px;
  background-color: #fff;
  width: 100%; }
  #mainFiveVideo .inner .vidList {
    height: 1000px;
    text-align: center; }
    #mainFiveVideo .inner .vidList article {
      background-color: #000;
      width: 447px;
      height: 240px;
      display: inline-block; }
      #mainFiveVideo .inner .vidList article img {
        width: 447px; }

#footer {
  background-color: #111; }
  #footer .footerTop {
    width: 100%;
    height: 300px;
    border-bottom: 0.5px solid #999; }
    #footer .footerTop .footerInner {
      margin: 0 auto;
      padding-top: 30px;
      width: 800px; }
      #footer .footerTop .footerInner::after {
        content: "";
        display: block;
        clear: both; }
      #footer .footerTop .footerInner .case {
        float: left;
        width: 200px; }
      #footer .footerTop .footerInner .case2 {
        color: #999;
        transition: 0.2s; }
        #footer .footerTop .footerInner .case2:hover {
          transition: 0.2s;
          color: #fff; }
      #footer .footerTop .footerInner .inner1 {
        color: #fff;
        font: normal 10px/2 "Lato";
        letter-spacing: 1px; }
        #footer .footerTop .footerInner .inner1 a {
          color: #fff; }
        #footer .footerTop .footerInner .inner1 h2 {
          display: inline-block;
          cursor: pointer; }
        #footer .footerTop .footerInner .inner1 i {
          cursor: pointer;
          font-size: 25px;
          margin-right: 10px;
          margin-top: 10px;
          color: #999;
          transition: 0.2s; }
          #footer .footerTop .footerInner .inner1 i:hover {
            transition: 0.2s;
            color: #fff; }
        #footer .footerTop .footerInner .inner1:last-child h2 {
          cursor: default; }
  #footer .footerMid {
    width: 100%;
    height: 50px;
    border-bottom: 0.5px solid #999;
    padding: 0px 50px 0px 50px; }
    #footer .footerMid::after {
      content: "";
      display: block;
      clear: both; }
    #footer .footerMid h4 {
      display: inline-block;
      color: #999;
      font: bold 12px/50px "Lato";
      letter-spacing: 1px; }
    #footer .footerMid .case3 {
      cursor: pointer;
      margin-left: 20px;
      transition: 0.2s; }
      #footer .footerMid .case3:hover {
        transition: 0.2s;
        color: #fff; }
    #footer .footerMid .footerMidLeft {
      float: left; }
      #footer .footerMid .footerMidLeft i {
        display: inline-block;
        color: #fff;
        font-size: 20px;
        transform: translateY(3px);
        margin-right: 10px; }
      #footer .footerMid .footerMidLeft h3 {
        display: inline-block;
        color: #fff;
        font: normal 12px/50px "Lato";
        letter-spacing: 1px;
        margin-right: 5px; }
    #footer .footerMid .footerMidRight {
      float: right; }
      #footer .footerMid .footerMidRight h4 {
        display: inline-block; }
  #footer .footerBot {
    width: 100%;
    height: 100px;
    text-align: center; }
    #footer .footerBot h1 {
      cursor: pointer;
      display: inline-block;
      font: bold 35px/1 "Lato";
      letter-spacing: 5px;
      color: #fff;
      line-height: 100px; }
      #footer .footerBot h1::first-letter {
        color: dodgerblue; }

/*# sourceMappingURL=style.css.map */
