#csOne {
    width: 100%;
    height: 500px;
    background-image: url(../img/space13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;

    h1 {
        font: bold 40px/1 "Lato";
        color: #fff;
        letter-spacing: 5px;
        position: absolute;
        top:40%; 
        left:50%; 
        transform:translate(-50%,-50%); 
        &::first-letter {
            color: dodgerblue;
        }
    }
    h2 {
        font: bold 25px/1 "Lato";
        color: #fff;
        letter-spacing: 2px;
        position: absolute;
        top:50%; 
        left:50%; 
        transform:translate(-50%,-50%); 
    }
}

#csTwo {
    text-align: center;
    padding: 100px 0 100px 0;
    border-bottom: 1px solid #999;
    .csIcon {
        display: flex;
        justify-content: center;
        .csTwoIcon {
            width: 80px;
            float: left;
            margin: 0 50px 0 50px;
            cursor: pointer;
            &:hover {
                i, p {
                    color: dodgerblue;
                    transition: 0.2s;
                }
            }
            i {
                font-size: 40px;
                color: #333;
                margin-bottom: 20px;
                transition: 0.2s;
            }
            p {
                font: bold 20px/1 "Lato";
                color: #333;
                transition: 0.2s;
            }
        }
    }
}

#csThree {
    text-align: center;
    padding: 50px 0 50px 0;
    border-bottom: 1px solid #999;
    .csIcon {
        display: flex;
        justify-content: center;
        .csThreeIcon {
            float: left;
            width: 300px;
            cursor: pointer;
            &:nth-of-type(2) {
                border-left: 1px solid #999;
                border-right: 1px solid #999;
            }
            &:hover {
                p {
                    box-shadow: 0 -1px 0 0 dodgerblue inset;
                    transition: 0.2s;
                }
            }
            i {
                font-size: 40px;
                color: #333;
                margin-bottom: 20px;
                transition: 0.2s;
            }
            p {
                display: inline-block;
                font: bold 15px/1 "Lato";
                color: dodgerblue;
                transition: 0.2s;
            }
        }
    }
}

#csFour {
    text-align: center;
    padding: 50px 0px 50px 0px;
    // border-bottom: 1px solid #999;
    h1 {
        font: bold 40px/1 "Lato";
        letter-spacing: 3px;
        margin-bottom: 20px;
    }
    input[type=text] {
        width: 40%;
        height: 50px;
        border: 1px solid #999;
        border-radius: 5px;
    }
    input::placeholder {
        text-align: center;
        font: bold 20px/50px "Lato";
    }
}

#csFive {
    width: 100%;
    height: 400px;
    background:url(../img/space12.png) no-repeat center/cover fixed; 
    // background-image: url(../img/space12.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    text-align: center;
    position: relative;
    padding: 150px 400px 0px 400px;
    text-align: left;
    color: #fff;
    letter-spacing: 2px;
    h1 {
        font: bold 40px/1 "Lato";
        margin-bottom: 20px;
    }
    h2 {
        font: bold 15px/1 "Lato";
        background-color: #000;
        padding: 5px 0px 5px 0px;
        display: inline-block;
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 20px;
    }
    h3, h4 {
        cursor: pointer;
        font: bold 15px/1 "Lato";
        color: crimson;
        transition: 0.2s;
        background-color: #000;
        padding: 5px 0px 5px 0px;
        display: inline-block;
        // &:hover {
        //     p {
        //         box-shadow: 0 -1px 0 0 crimson inset;
        //         transition: 0.2s;
        //     }
        // }
    }
}