#resultPage {
    position: relative;
    width: 100%;
    height: 100%;
    
    .resultPageImage {
        width: 100vw;
        height: 100vh;
        background-image: url(../img/space15.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: brightness 2s linear alternate infinite;
    }

    .resultPageText {
        text-align: center;
        position: absolute;
        top: 500px;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font: bold 60px/1 "Lato";
            color: #fff;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
        h2 {
            font: bold 20px/1 "Lato";
            color: #fff;
            letter-spacing: 1.5px;
            margin-bottom: 50px;
        }
        p {
            font: bold 40px/1 "Lato";
            color: #fff;
            letter-spacing: 4px;
            margin-bottom: 300px;
            &::first-letter {
                color: dodgerblue;
            }
        }
        a {
            font: bold 20px/1 "Lato";
            letter-spacing: 2px;
            color: crimson;
            border-bottom: 2px solid crimson;
        }
    }
}

@keyframes brightness {
    0% {
        filter: brightness(50%);
    }
    100% {
        filter: brightness(100%);
    }
}