@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Orbitron&family=Poppins:wght@200&display=swap');


//reset
* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li {list-style: none;}
a {text-decoration: none;}

body {
    background-color: rgb(233, 233, 233);
}
#header {
    .headerTop {
        padding: 0 50px 0 50px;
        width: 100%;
        height: 50px;
        background-color: #000;
        &::after {content: ""; display: block; clear: both;}
        .left {
            float: left;
            cursor: pointer;
            width: 90px;
            height: 40px;
            background-image: url(../img/weylandlogo.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateY(5px);
        }
        .right {
            float: right;
            a {
                color: #fff;
                padding-right: 20px;
                margin-right: 20px;
                border-right: 1.5px solid #fff;
                font: bold 15px/1 "Lato";
                letter-spacing: 1px;
                line-height: 50px;

                &:last-child {
                    padding-right: 0px;
                    margin-right: 0px;
                    border-right: none;
                }
            }
        }
    }

    .headerBot {
        width: 100%;
        height: 100px;
        background-color: #fff;
        padding: 0px 50px 0px 50px;
        display: flex;
        justify-content: space-between;
        .botLeft {
            cursor: pointer;
            h1 {
                font: bold 35px/1 "Lato";
                letter-spacing: 5px;
                color: #555;
                line-height: 100px;
                &::first-letter {
                    color: dodgerblue;
                }
            }
        }
        .botCenter {
            transform: translateX(61px);
            ul {
                li {
                    cursor: pointer;
                    display: inline-block;
                    margin: 0px 15px 0px 15px;
                    font: bold 20px/1 "Lato";
                    line-height: 100px;
                    transition: 0.2s;
                    &:hover {
                        color: dodgerblue;
                        transition: 0.2s;
                        box-shadow: 0 -4px 0 0 dodgerblue inset;
                    }
                }
            }
        }
        .botRight {
            line-height: 100px;
            input[type=text] {
                border: none;
                width: 250px;
                height: 50px;
                border-radius: 50px;
                background-color: rgb(233, 233, 233);
            }
            input::placeholder {
                text-align: center;
                font: bold 15px/1 "Lato";
                color: #555;
                line-height: 50px;
            }
            i {
                cursor: pointer;
                font-size: 30px;
                color: #555;
                transform: translateY(7px);
                transition: 0.2s;
                &:hover {
                    color: dodgerblue;
                    transition: 0.2s;
                }
            }
        }
    }
}

#mainOne {
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #000;
    position: relative;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    .oneInner {
        width: 1200px;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        top:30%; 
        left:50%; 
        transform:translate(-50%,-50%); 

        h1 {
            font: bold 40px/1 "Lato";
            color: #fff;
            letter-spacing: 3px;
            margin-bottom: 30px;
        }

        p {
            font: bold 20px/1 "Lato";
            color: #fff;
            letter-spacing: 2px;
        }

        h2 {
            margin-top: 30px;
            font: bold 40px/1 "Orbitron";
            color: #fff;
            letter-spacing: 8px;
        }

        .time {
            display: inline-block;
            font: bold 13px/2 "Orbitron";
            color: #fff;
            border-bottom: 3px solid crimson;
        }

        .booking {
            width: 100%;
            height: 150px;
            background-color: #fff;
            position: absolute;
            top:300px; 
            left:50%; 
            transform:translate(-50%,-50%); 
            border-radius: 20px;

            ul {
                li {
                    // &:last-child {
                    //     width: 10%;
                    // }
                    // &:first-child {
                    //     padding-left: 0px;
                    // }
                    transform: translateX(25px);
                    float: left;
                    width: calc(100% / 6);
                    height: 150px;
                    line-height: 150px;

                    select, input[type=date] {
                        border: none;
                        height: 40px;
                        width: 150px;
                        border-bottom: 2px solid #555;
                        transition: 0.2s;
                        &:hover {
                            border-bottom: 2px solid crimson;
                            transition: 0.2s;
                        }
                    }
                    option {
                        border: none;
                        background-color: #333;
                        font: bold 15px/1 "Lato";
                        color: #fff;
                        padding-left: 10px;
                        line-height: 40px;
                        letter-spacing: 1px;
                    }

                    option:invalid {
                        color: #000;
                    }

                    option[disabled] {
                        display: none;
                    }

                    i {
                        font-size: 18px;
                        color: #555;
                        transform: translateX(-25px);
                    }

                    button {
                        cursor: pointer;
                        border: none;
                        width: 100px;
                        height: 60px;
                        border-radius: 5px;
                        background-color: #555;
                        font: bold 15px/1 "Lato";
                        letter-spacing: 2px;
                        color: #fff;
                        transition: 0.2s;
                        &:hover {
                            background-color: dodgerblue;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }
    }
}

#mainTwo {
    padding: 100px 50px 100px 50px;
    height: 100vh;
    .mainTwoInner {
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 80px;
        h2 {
            font: bold 30px/1 "Lato";
            margin-bottom: 20px;
        }
        h3 {
            font: bold 20px/1 "Lato";
            color: #333;
            margin-bottom: 25px;
        }
        p {
            cursor: pointer;
            font: bold 20px/1 "Lato";
            color: dodgerblue;
            transition: 0.2s;
            &:hover {
                color: deepskyblue;
                transition: 0.2s;
            }
        }
    }

    .spaceSector {
        width: 100%;

        .swiper-slide {
            padding: 15px 15px 15px 15px;
            p {
                cursor: pointer;
                font: bold 15px/1 "Lato";
                color: #fff;
            }
            background-color: aquamarine;
            width: 600px;
            height: 400px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &:nth-of-type(1) {background-image: url(../img/space1.jpg);}
            &:nth-of-type(2) {background-image: url(../img/space2.jpg);}
            &:nth-of-type(3) {background-image: url(../img/space3.jpg);}
            &:nth-of-type(4) {background-image: url(../img/space4.jpg);}
            &:nth-of-type(5) {background-image: url(../img/space5.jpg);}
        }
    }
}

#banner {
    width: 100%;
    height: 400px;
    background:url(../img/space8.jpg) no-repeat center/cover fixed; 
    filter: opacity(0.8);
    text-align: center;
    padding: 120px 0px 120px 0px;
    h1 {
        font: bold 50px/1 "Lato";
        letter-spacing: 1px;
        color: #fff;
        margin-bottom: 10px;
    }
    h2 {
        font: bold 20px/1 "Lato";
        letter-spacing: 2px;
        color: #fff;
    }
    p {
        font: bold 35px/1 "Lato";
        letter-spacing: 5px;
        color: #fff;
        line-height: 100px;
        &::first-letter {
            color: dodgerblue;
        }
    }
}

#mainThree {
    background-color: #fff;
    padding: 200px 50px 100px 50px;
    display: flex;
    justify-content: center;
    .mainthreeInner {
        padding: 0px 60px 0px 60px;
        text-align: center;
        width: 400px;
        i {
            font-size: 40px;
            color: #555;
            margin-bottom: 20px;
        }
        h3 {
            font: bold 20px/1 "Lato";
            color: #000;
            margin-bottom: 20px;
        }
        h4 {
            font: bold 20px/1.5 "Lato";
            color: #555;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        p {
            display: inline-block;
            cursor: pointer;
            font: bold 20px/1 "Lato";
            color: dodgerblue;
            transition: 0.2s;
            &:hover {
                color: deepskyblue;
                transition: 0.2s;
            }
        }
    }
}

#mainFour {
    background-color: #fff;
    padding: 100px 50px 100px 50px;
    .mainfourInner {
        padding-top: 150px;
        width: 100%;
        height: 1000px;
        background-image: url(../img/spaceship_horizon.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(1.05);
        text-align: center;
        .mainFourText {
            letter-spacing: 1px;
            margin-bottom: 30px;
            >h1 {
                display: inline-block;
                font: bold 30px/1 "Lato";
            }
            .caseFour {
                letter-spacing: 3px;
                font: bold 30px/1 "Lato";
                color: #fff;
                &::first-letter {
                    color: dodgerblue;
                }
            }
        }
        h2 {
            letter-spacing: 1px;
            font: bold 50px/1 "Lato";
            margin-bottom: 20px;
        }
        p {
            margin-top: 30px;
            display: inline-block;
            cursor: pointer;
            font: bold 20px/1 "Lato";
            color: dodgerblue;
            transition: 0.2s;
            &:hover {
                color: deepskyblue;
                transition: 0.2s;
            }
        }
    }
}

#footer {
    background-color: #111;
    .footerTop {
        width: 100%;
        height: 300px;
        border-bottom: 0.5px solid #999;

        .footerInner {
            margin: 0 auto;
            padding-top: 30px;
            width: 800px;
            &::after {content: ""; display: block; clear: both;}
            .case {float: left; width: 200px;}
            .case2 {
                color: #999;
                transition: 0.2s;
                &:hover {
                    transition: 0.2s;
                    color: #fff;
                }
            }

            .inner1 {
                h2 {
                    display: inline-block;
                    cursor: pointer;
                }
                color: #fff;
                font: normal 10px/2 "Lato";
                letter-spacing: 1px;

                i {
                    cursor: pointer;
                    font-size: 25px;
                    margin-right: 10px;
                    margin-top: 10px;
                    color: #999;
                    transition: 0.2s;
                    &:hover {
                        transition: 0.2s;
                        color: #fff;
                    }
                }
            }
        }
    }

    .footerMid {
        width: 100%;
        height: 50px;
        border-bottom: 0.5px solid #999;
        padding: 0px 50px 0px 50px;
        &::after {content: ""; display: block; clear: both;}

        h4 {
            display: inline-block;
            color: #999;
            font: bold 12px/50px "Lato";
            letter-spacing: 1px;
        }

        .case3 {
            cursor: pointer;
            margin-left: 20px;
            transition: 0.2s;
            &:hover {
                transition: 0.2s;
                color: #fff;
            }
        }

        .footerMidLeft {
            float: left;
            i {
                display: inline-block;
                color: #fff;
                font-size: 20px;
                transform: translateY(3px);
                margin-right: 10px;
            }
            h3 {
                display: inline-block;
                color: #fff;
                font: normal 12px/50px "Lato";
                letter-spacing: 1px;
                margin-right: 5px;
            }

        }
        .footerMidRight {
            float: right;
            h4 {
                display: inline-block;
            }
        }
    }

    .footerBot {
        width: 100%;
        height: 100px;
        text-align: center;

        h1 {
            cursor: pointer;
            display: inline-block;
            font: bold 35px/1 "Lato";
            letter-spacing: 5px;
            color: #fff;
            line-height: 100px;
            &::first-letter {
                color: dodgerblue;
            }
        }
    }
}