@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Orbitron&family=Poppins:wght@200&display=swap');


//reset
* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li {list-style: none;}
a {text-decoration: none;}

body {
    background-color: rgb(233, 233, 233);
}
#header {
    .headerTop {
        padding: 0 50px 0 50px;
        width: 100%;
        height: 50px;
        background-color: #000;
        &::after {content: ""; display: block; clear: both;}
        .left {
            float: left;
            cursor: pointer;
            width: 90px;
            height: 40px;
            background-image: url(../img/weylandlogo.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateY(5px);
        }
        .right {
            float: right;
            a {
                color: #fff;
                padding-right: 20px;
                margin-right: 20px;
                border-right: 1.5px solid #fff;
                font: bold 15px/1 "Lato";
                letter-spacing: 1px;
                line-height: 50px;

                &:last-child {
                    padding-right: 0px;
                    margin-right: 0px;
                    border-right: none;
                }
            }
        }
    }

    .headerBot {
        width: 100%;
        height: 100px;
        background-color: #fff;
        padding: 0px 50px 0px 50px;
        display: flex;
        justify-content: space-between;
        .botLeft {
            cursor: pointer;
            h1 {
                font: bold 35px/1 "Lato";
                letter-spacing: 5px;
                color: #555;
                line-height: 100px;
                &::first-letter {
                    color: dodgerblue;
                }
            }
        }
        .botCenter {
            transform: translateX(61px);
            ul {
                li {
                    cursor: pointer;
                    display: inline-block;
                    margin: 0px 15px 0px 15px;
                    font: bold 20px/1 "Lato";
                    line-height: 100px;
                    transition: 0.2s;
                    &:hover {
                        color: dodgerblue;
                        transition: 0.2s;
                        box-shadow: 0 -4px 0 0 dodgerblue inset;
                    }
                }
            }
        }
        .botRight {
            line-height: 100px;
            input[type=text] {
                border: none;
                width: 250px;
                height: 50px;
                border-radius: 50px;
                background-color: rgb(233, 233, 233);
            }
            input::placeholder {
                text-align: center;
                font: bold 15px/1 "Lato";
                color: #555;
                line-height: 50px;
            }
            i {
                cursor: pointer;
                font-size: 30px;
                color: #555;
                transform: translateY(7px);
                transition: 0.2s;
                &:hover {
                    color: dodgerblue;
                    transition: 0.2s;
                }
            }
        }
    }
}

#mainOne {

}

#footer {
    .footerTop {
        width: 100%;
        height: 300px;
        background-color: #333;
    }
}